<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>复仇者联盟1</string>
		<key>count</key>
		<string>5</string>
		<key>icon</key>
		<string></string>
		<key>matchs</key>
		<array>
            <dict>
                <key>home</key>
                <string>巴西</string>
                <key>homeScore</key>
                <string>4</string>
                <key>visiting</key>
                <string>韩国</string>
                <key>visitingScore</key>
                <string>1</string>
                <key>time</key>
                <string>03/12 00:30</string>
                <key>orders</key>
                <dict>
                    <key>AWH</key>
                    <string>3.700</string>
                    <key>AWH_Select</key>
                    <false/>
                    <key>AH</key>
                    <string>3.400</string>
                    <key>AH_Select</key>
                    <false/>
                    <key>AWV</key>
                    <string>1.800</string>
                    <key>AWV_Select</key>
                    <false/>
                    <key>ACHRatio</key>
                    <string>1/1.5</string>
                    <key>ACH</key>
                    <string>0.980</string>
                    <key>ACH_Select</key>
                    <false/>
                    <key>ACVRatio</key>
                    <string>-</string>
                    <key>ACV</key>
                    <string>0.860</string>
                    <key>ACV_Select</key>
                    <false/>
                    <key>ABHRatio</key>
                    <string>2.5/3</string>
                    <key>ABH</key>
                    <string>0.910</string>
                    <key>ABH_Select</key>
                    <false/>
                    <key>ASVRatio</key>
                    <string>2.5/3</string>
                    <key>ASV</key>
                    <string>0.500</string>
                    <key>ASV_Select</key>
                    <false/>
                    <key>HWH</key>
                    <string>1.900</string>
                    <key>HWH_Select</key>
                    <false/>
                    <key>HH</key>
                    <string>4.400</string>
                    <key>HH_Select</key>
                    <false/>
                    <key>HWV</key>
                    <string>1.800</string>
                    <key>HWV_Select</key>
                    <false/>
                    <key>HCHRatio</key>
                    <string>1/1.5</string>
                    <key>HCH</key>
                    <string>0.880</string>
                    <key>HCH_Select</key>
                    <false/>
                    <key>HCVRatio</key>
                    <string>-</string>
                    <key>HCV</key>
                    <string>0.670</string>
                    <key>HCV_Select</key>
                    <false/>
                    <key>HBHRatio</key>
                    <string>2.5/3</string>
                    <key>HBH</key>
                    <string>1.000</string>
                    <key>HBH_Select</key>
                    <false/>
                    <key>HSVRatio</key>
                    <string>2.5/3</string>
                    <key>HSV</key>
                    <string>0.920</string>
                    <key>HSV_Select</key>
                    <false/>
                </dict>
            </dict>
            <dict>
                <key>home</key>
                <string>巴西</string>
                <key>homeScore</key>
                <string>4</string>
                <key>visiting</key>
                <string>韩国</string>
                <key>visitingScore</key>
                <string>1</string>
                <key>time</key>
                <string>03/12 00:30</string>
                <key>orders</key>
                <dict>
                    <key>AWH</key>
                    <string>3.700</string>
                    <key>AWH_Select</key>
                    <false/>
                    <key>AH</key>
                    <string>3.400</string>
                    <key>AH_Select</key>
                    <false/>
                    <key>AWV</key>
                    <string>1.800</string>
                    <key>AWV_Select</key>
                    <false/>
                    <key>ACHRatio</key>
                    <string>1/1.5</string>
                    <key>ACH</key>
                    <string>0.980</string>
                    <key>ACH_Select</key>
                    <false/>
                    <key>ACVRatio</key>
                    <string>-</string>
                    <key>ACV</key>
                    <string>0.860</string>
                    <key>ACV_Select</key>
                    <false/>
                    <key>ABHRatio</key>
                    <string>2.5/3</string>
                    <key>ABH</key>
                    <string>0.910</string>
                    <key>ABH_Select</key>
                    <false/>
                    <key>ASVRatio</key>
                    <string>2.5/3</string>
                    <key>ASV</key>
                    <string>0.500</string>
                    <key>ASV_Select</key>
                    <false/>
                    <key>HWH</key>
                    <string>1.900</string>
                    <key>HWH_Select</key>
                    <false/>
                    <key>HH</key>
                    <string>4.400</string>
                    <key>HH_Select</key>
                    <false/>
                    <key>HWV</key>
                    <string>1.800</string>
                    <key>HWV_Select</key>
                    <false/>
                    <key>HCHRatio</key>
                    <string>1/1.5</string>
                    <key>HCH</key>
                    <string>0.880</string>
                    <key>HCH_Select</key>
                    <false/>
                    <key>HCVRatio</key>
                    <string>-</string>
                    <key>HCV</key>
                    <string>0.670</string>
                    <key>HCV_Select</key>
                    <false/>
                    <key>HBHRatio</key>
                    <string>2.5/3</string>
                    <key>HBH</key>
                    <string>1.000</string>
                    <key>HBH_Select</key>
                    <false/>
                    <key>HSVRatio</key>
                    <string>2.5/3</string>
                    <key>HSV</key>
                    <string>0.920</string>
                    <key>HSV_Select</key>
                    <false/>
                </dict>
            </dict>
			<dict>
				<key>home</key>
				<string>巴西</string>
				<key>homeScore</key>
				<string>4</string>
				<key>visiting</key>
				<string>韩国</string>
				<key>visitingScore</key>
				<string>1</string>
				<key>time</key>
				<string>03/12 00:30</string>
				<key>orders</key>
				<dict>
					<key>AWH</key>
					<string>3.700</string>
					<key>AWH_Select</key>
					<false/>
					<key>AH</key>
					<string>3.400</string>
					<key>AH_Select</key>
					<false/>
					<key>AWV</key>
					<string>1.800</string>
					<key>AWV_Select</key>
					<false/>
					<key>ACHRatio</key>
					<string>1/1.5</string>
					<key>ACH</key>
					<string>0.980</string>
					<key>ACH_Select</key>
					<false/>
					<key>ACVRatio</key>
					<string>-</string>
					<key>ACV</key>
					<string>0.860</string>
					<key>ACV_Select</key>
					<false/>
					<key>ABHRatio</key>
					<string>2.5/3</string>
					<key>ABH</key>
					<string>0.910</string>
					<key>ABH_Select</key>
					<false/>
					<key>ASVRatio</key>
					<string>2.5/3</string>
					<key>ASV</key>
					<string>0.500</string>
					<key>ASV_Select</key>
					<false/>
					<key>HWH</key>
					<string>1.900</string>
					<key>HWH_Select</key>
					<false/>
					<key>HH</key>
					<string>4.400</string>
					<key>HH_Select</key>
					<false/>
					<key>HWV</key>
					<string>1.800</string>
					<key>HWV_Select</key>
					<false/>
					<key>HCHRatio</key>
					<string>1/1.5</string>
					<key>HCH</key>
					<string>0.880</string>
					<key>HCH_Select</key>
					<false/>
					<key>HCVRatio</key>
					<string>-</string>
					<key>HCV</key>
					<string>0.670</string>
					<key>HCV_Select</key>
					<false/>
					<key>HBHRatio</key>
					<string>2.5/3</string>
					<key>HBH</key>
					<string>1.000</string>
					<key>HBH_Select</key>
					<false/>
					<key>HSVRatio</key>
					<string>2.5/3</string>
					<key>HSV</key>
					<string>0.920</string>
					<key>HSV_Select</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>home</key>
				<string>巴西</string>
				<key>homeScore</key>
				<string>4</string>
				<key>visiting</key>
				<string>韩国</string>
				<key>visitingScore</key>
				<string>1</string>
				<key>time</key>
				<string>03/12 00:30</string>
				<key>orders</key>
				<dict>
					<key>AWH</key>
					<string>3.700</string>
					<key>AWH_Select</key>
					<false/>
					<key>AH</key>
					<string>3.400</string>
					<key>AH_Select</key>
					<false/>
					<key>AWV</key>
					<string>1.800</string>
					<key>AWV_Select</key>
					<false/>
					<key>ACHRatio</key>
					<string>1/1.5</string>
					<key>ACH</key>
					<string>0.980</string>
					<key>ACH_Select</key>
					<false/>
					<key>ACVRatio</key>
					<string>-</string>
					<key>ACV</key>
					<string>0.860</string>
					<key>ACV_Select</key>
					<false/>
					<key>ABHRatio</key>
					<string>2.5/3</string>
					<key>ABH</key>
					<string>0.910</string>
					<key>ABH_Select</key>
					<false/>
					<key>ASVRatio</key>
					<string>2.5/3</string>
					<key>ASV</key>
					<string>0.500</string>
					<key>ASV_Select</key>
					<false/>
					<key>HWH</key>
					<string>1.900</string>
					<key>HWH_Select</key>
					<false/>
					<key>HH</key>
					<string>4.400</string>
					<key>HH_Select</key>
					<false/>
					<key>HWV</key>
					<string>1.800</string>
					<key>HWV_Select</key>
					<false/>
					<key>HCHRatio</key>
					<string>1/1.5</string>
					<key>HCH</key>
					<string>0.880</string>
					<key>HCH_Select</key>
					<false/>
					<key>HCVRatio</key>
					<string>-</string>
					<key>HCV</key>
					<string>0.670</string>
					<key>HCV_Select</key>
					<false/>
					<key>HBHRatio</key>
					<string>2.5/3</string>
					<key>HBH</key>
					<string>1.000</string>
					<key>HBH_Select</key>
					<false/>
					<key>HSVRatio</key>
					<string>2.5/3</string>
					<key>HSV</key>
					<string>0.920</string>
					<key>HSV_Select</key>
					<false/>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>复仇者联盟2</string>
		<key>count</key>
		<string>5</string>
		<key>icon</key>
		<string></string>
		<key>matchs</key>
		<array>
			<dict>
				<key>home</key>
				<string>巴西</string>
				<key>homeScore</key>
				<string>4</string>
				<key>visiting</key>
				<string>韩国</string>
				<key>visitingScore</key>
				<string>1</string>
				<key>time</key>
				<string>03/12 00:30</string>
				<key>orders</key>
				<dict>
					<key>AWH</key>
					<string>3.700</string>
					<key>AWH_Select</key>
					<false/>
					<key>AH</key>
					<string>3.400</string>
					<key>AH_Select</key>
					<false/>
					<key>AWV</key>
					<string>1.800</string>
					<key>AWV_Select</key>
					<false/>
					<key>ACHRatio</key>
					<string>1/1.5</string>
					<key>ACH</key>
					<string>0.980</string>
					<key>ACH_Select</key>
					<false/>
					<key>ACVRatio</key>
					<string>-</string>
					<key>ACV</key>
					<string>0.860</string>
					<key>ACV_Select</key>
					<false/>
					<key>ABHRatio</key>
					<string>2.5/3</string>
					<key>ABH</key>
					<string>0.910</string>
					<key>ABH_Select</key>
					<false/>
					<key>ASVRatio</key>
					<string>2.5/3</string>
					<key>ASV</key>
					<string>0.500</string>
					<key>ASV_Select</key>
					<false/>
					<key>HWH</key>
					<string>1.900</string>
					<key>HWH_Select</key>
					<false/>
					<key>HH</key>
					<string>4.400</string>
					<key>HH_Select</key>
					<false/>
					<key>HWV</key>
					<string>1.800</string>
					<key>HWV_Select</key>
					<false/>
					<key>HCHRatio</key>
					<string>1/1.5</string>
					<key>HCH</key>
					<string>0.880</string>
					<key>HCH_Select</key>
					<false/>
					<key>HCVRatio</key>
					<string>-</string>
					<key>HCV</key>
					<string>0.670</string>
					<key>HCV_Select</key>
					<false/>
					<key>HBHRatio</key>
					<string>2.5/3</string>
					<key>HBH</key>
					<string>1.000</string>
					<key>HBH_Select</key>
					<false/>
					<key>HSVRatio</key>
					<string>2.5/3</string>
					<key>HSV</key>
					<string>0.920</string>
					<key>HSV_Select</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>home</key>
				<string>巴西</string>
				<key>homeScore</key>
				<string>4</string>
				<key>visiting</key>
				<string>韩国</string>
				<key>visitingScore</key>
				<string>1</string>
				<key>time</key>
				<string>03/12 00:30</string>
				<key>orders</key>
				<dict>
					<key>AWH</key>
					<string>3.700</string>
					<key>AWH_Select</key>
					<false/>
					<key>AH</key>
					<string>3.400</string>
					<key>AH_Select</key>
					<false/>
					<key>AWV</key>
					<string>1.800</string>
					<key>AWV_Select</key>
					<false/>
					<key>ACHRatio</key>
					<string>1/1.5</string>
					<key>ACH</key>
					<string>0.980</string>
					<key>ACH_Select</key>
					<false/>
					<key>ACVRatio</key>
					<string>-</string>
					<key>ACV</key>
					<string>0.860</string>
					<key>ACV_Select</key>
					<false/>
					<key>ABHRatio</key>
					<string>2.5/3</string>
					<key>ABH</key>
					<string>0.910</string>
					<key>ABH_Select</key>
					<false/>
					<key>ASVRatio</key>
					<string>2.5/3</string>
					<key>ASV</key>
					<string>0.500</string>
					<key>ASV_Select</key>
					<false/>
					<key>HWH</key>
					<string>1.900</string>
					<key>HWH_Select</key>
					<false/>
					<key>HH</key>
					<string>4.400</string>
					<key>HH_Select</key>
					<false/>
					<key>HWV</key>
					<string>1.800</string>
					<key>HWV_Select</key>
					<false/>
					<key>HCHRatio</key>
					<string>1/1.5</string>
					<key>HCH</key>
					<string>0.880</string>
					<key>HCH_Select</key>
					<false/>
					<key>HCVRatio</key>
					<string>-</string>
					<key>HCV</key>
					<string>0.670</string>
					<key>HCV_Select</key>
					<false/>
					<key>HBHRatio</key>
					<string>2.5/3</string>
					<key>HBH</key>
					<string>1.000</string>
					<key>HBH_Select</key>
					<false/>
					<key>HSVRatio</key>
					<string>2.5/3</string>
					<key>HSV</key>
					<string>0.920</string>
					<key>HSV_Select</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>home</key>
				<string>巴西</string>
				<key>homeScore</key>
				<string>4</string>
				<key>visiting</key>
				<string>韩国</string>
				<key>visitingScore</key>
				<string>1</string>
				<key>time</key>
				<string>03/12 00:30</string>
				<key>orders</key>
				<dict>
					<key>AWH</key>
					<string>3.700</string>
					<key>AWH_Select</key>
					<false/>
					<key>AH</key>
					<string>3.400</string>
					<key>AH_Select</key>
					<false/>
					<key>AWV</key>
					<string>1.800</string>
					<key>AWV_Select</key>
					<false/>
					<key>ACHRatio</key>
					<string>1/1.5</string>
					<key>ACH</key>
					<string>0.980</string>
					<key>ACH_Select</key>
					<false/>
					<key>ACVRatio</key>
					<string>-</string>
					<key>ACV</key>
					<string>0.860</string>
					<key>ACV_Select</key>
					<false/>
					<key>ABHRatio</key>
					<string>2.5/3</string>
					<key>ABH</key>
					<string>0.910</string>
					<key>ABH_Select</key>
					<false/>
					<key>ASVRatio</key>
					<string>2.5/3</string>
					<key>ASV</key>
					<string>0.500</string>
					<key>ASV_Select</key>
					<false/>
					<key>HWH</key>
					<string>1.900</string>
					<key>HWH_Select</key>
					<false/>
					<key>HH</key>
					<string>4.400</string>
					<key>HH_Select</key>
					<false/>
					<key>HWV</key>
					<string>1.800</string>
					<key>HWV_Select</key>
					<false/>
					<key>HCHRatio</key>
					<string>1/1.5</string>
					<key>HCH</key>
					<string>0.880</string>
					<key>HCH_Select</key>
					<false/>
					<key>HCVRatio</key>
					<string>-</string>
					<key>HCV</key>
					<string>0.670</string>
					<key>HCV_Select</key>
					<false/>
					<key>HBHRatio</key>
					<string>2.5/3</string>
					<key>HBH</key>
					<string>1.000</string>
					<key>HBH_Select</key>
					<false/>
					<key>HSVRatio</key>
					<string>2.5/3</string>
					<key>HSV</key>
					<string>0.920</string>
					<key>HSV_Select</key>
					<false/>
				</dict>
			</dict>
		</array>
	</dict>
    <dict>
        <key>name</key>
        <string>复仇者联盟3</string>
        <key>count</key>
        <string>5</string>
        <key>icon</key>
        <string></string>
        <key>matchs</key>
        <array>
            <dict>
                <key>home</key>
                <string>巴西</string>
                <key>homeScore</key>
                <string>4</string>
                <key>visiting</key>
                <string>韩国</string>
                <key>visitingScore</key>
                <string>1</string>
                <key>time</key>
                <string>03/12 00:30</string>
                <key>orders</key>
                <dict>
                    <key>AWH</key>
                    <string>3.700</string>
                    <key>AWH_Select</key>
                    <false/>
                    <key>AH</key>
                    <string>3.400</string>
                    <key>AH_Select</key>
                    <false/>
                    <key>AWV</key>
                    <string>1.800</string>
                    <key>AWV_Select</key>
                    <false/>
                    <key>ACHRatio</key>
                    <string>1/1.5</string>
                    <key>ACH</key>
                    <string>0.980</string>
                    <key>ACH_Select</key>
                    <false/>
                    <key>ACVRatio</key>
                    <string>-</string>
                    <key>ACV</key>
                    <string>0.860</string>
                    <key>ACV_Select</key>
                    <false/>
                    <key>ABHRatio</key>
                    <string>2.5/3</string>
                    <key>ABH</key>
                    <string>0.910</string>
                    <key>ABH_Select</key>
                    <false/>
                    <key>ASVRatio</key>
                    <string>2.5/3</string>
                    <key>ASV</key>
                    <string>0.500</string>
                    <key>ASV_Select</key>
                    <false/>
                    <key>HWH</key>
                    <string>1.900</string>
                    <key>HWH_Select</key>
                    <false/>
                    <key>HH</key>
                    <string>4.400</string>
                    <key>HH_Select</key>
                    <false/>
                    <key>HWV</key>
                    <string>1.800</string>
                    <key>HWV_Select</key>
                    <false/>
                    <key>HCHRatio</key>
                    <string>1/1.5</string>
                    <key>HCH</key>
                    <string>0.880</string>
                    <key>HCH_Select</key>
                    <false/>
                    <key>HCVRatio</key>
                    <string>-</string>
                    <key>HCV</key>
                    <string>0.670</string>
                    <key>HCV_Select</key>
                    <false/>
                    <key>HBHRatio</key>
                    <string>2.5/3</string>
                    <key>HBH</key>
                    <string>1.000</string>
                    <key>HBH_Select</key>
                    <false/>
                    <key>HSVRatio</key>
                    <string>2.5/3</string>
                    <key>HSV</key>
                    <string>0.920</string>
                    <key>HSV_Select</key>
                    <false/>
                </dict>
            </dict>
            <dict>
                <key>home</key>
                <string>巴西</string>
                <key>homeScore</key>
                <string>4</string>
                <key>visiting</key>
                <string>韩国</string>
                <key>visitingScore</key>
                <string>1</string>
                <key>time</key>
                <string>03/12 00:30</string>
                <key>orders</key>
                <dict>
                    <key>AWH</key>
                    <string>3.700</string>
                    <key>AWH_Select</key>
                    <false/>
                    <key>AH</key>
                    <string>3.400</string>
                    <key>AH_Select</key>
                    <false/>
                    <key>AWV</key>
                    <string>1.800</string>
                    <key>AWV_Select</key>
                    <false/>
                    <key>ACHRatio</key>
                    <string>1/1.5</string>
                    <key>ACH</key>
                    <string>0.980</string>
                    <key>ACH_Select</key>
                    <false/>
                    <key>ACVRatio</key>
                    <string>-</string>
                    <key>ACV</key>
                    <string>0.860</string>
                    <key>ACV_Select</key>
                    <false/>
                    <key>ABHRatio</key>
                    <string>2.5/3</string>
                    <key>ABH</key>
                    <string>0.910</string>
                    <key>ABH_Select</key>
                    <false/>
                    <key>ASVRatio</key>
                    <string>2.5/3</string>
                    <key>ASV</key>
                    <string>0.500</string>
                    <key>ASV_Select</key>
                    <false/>
                    <key>HWH</key>
                    <string>1.900</string>
                    <key>HWH_Select</key>
                    <false/>
                    <key>HH</key>
                    <string>4.400</string>
                    <key>HH_Select</key>
                    <false/>
                    <key>HWV</key>
                    <string>1.800</string>
                    <key>HWV_Select</key>
                    <false/>
                    <key>HCHRatio</key>
                    <string>1/1.5</string>
                    <key>HCH</key>
                    <string>0.880</string>
                    <key>HCH_Select</key>
                    <false/>
                    <key>HCVRatio</key>
                    <string>-</string>
                    <key>HCV</key>
                    <string>0.670</string>
                    <key>HCV_Select</key>
                    <false/>
                    <key>HBHRatio</key>
                    <string>2.5/3</string>
                    <key>HBH</key>
                    <string>1.000</string>
                    <key>HBH_Select</key>
                    <false/>
                    <key>HSVRatio</key>
                    <string>2.5/3</string>
                    <key>HSV</key>
                    <string>0.920</string>
                    <key>HSV_Select</key>
                    <false/>
                </dict>
            </dict>
            <dict>
                <key>home</key>
                <string>巴西</string>
                <key>homeScore</key>
                <string>4</string>
                <key>visiting</key>
                <string>韩国</string>
                <key>visitingScore</key>
                <string>1</string>
                <key>time</key>
                <string>03/12 00:30</string>
                <key>orders</key>
                <dict>
                    <key>AWH</key>
                    <string>3.700</string>
                    <key>AWH_Select</key>
                    <false/>
                    <key>AH</key>
                    <string>3.400</string>
                    <key>AH_Select</key>
                    <false/>
                    <key>AWV</key>
                    <string>1.800</string>
                    <key>AWV_Select</key>
                    <false/>
                    <key>ACHRatio</key>
                    <string>1/1.5</string>
                    <key>ACH</key>
                    <string>0.980</string>
                    <key>ACH_Select</key>
                    <false/>
                    <key>ACVRatio</key>
                    <string>-</string>
                    <key>ACV</key>
                    <string>0.860</string>
                    <key>ACV_Select</key>
                    <false/>
                    <key>ABHRatio</key>
                    <string>2.5/3</string>
                    <key>ABH</key>
                    <string>0.910</string>
                    <key>ABH_Select</key>
                    <false/>
                    <key>ASVRatio</key>
                    <string>2.5/3</string>
                    <key>ASV</key>
                    <string>0.500</string>
                    <key>ASV_Select</key>
                    <false/>
                    <key>HWH</key>
                    <string>1.900</string>
                    <key>HWH_Select</key>
                    <false/>
                    <key>HH</key>
                    <string>4.400</string>
                    <key>HH_Select</key>
                    <false/>
                    <key>HWV</key>
                    <string>1.800</string>
                    <key>HWV_Select</key>
                    <false/>
                    <key>HCHRatio</key>
                    <string>1/1.5</string>
                    <key>HCH</key>
                    <string>0.880</string>
                    <key>HCH_Select</key>
                    <false/>
                    <key>HCVRatio</key>
                    <string>-</string>
                    <key>HCV</key>
                    <string>0.670</string>
                    <key>HCV_Select</key>
                    <false/>
                    <key>HBHRatio</key>
                    <string>2.5/3</string>
                    <key>HBH</key>
                    <string>1.000</string>
                    <key>HBH_Select</key>
                    <false/>
                    <key>HSVRatio</key>
                    <string>2.5/3</string>
                    <key>HSV</key>
                    <string>0.920</string>
                    <key>HSV_Select</key>
                    <false/>
                </dict>
            </dict>
            <dict>
                <key>home</key>
                <string>巴西</string>
                <key>homeScore</key>
                <string>4</string>
                <key>visiting</key>
                <string>韩国</string>
                <key>visitingScore</key>
                <string>1</string>
                <key>time</key>
                <string>03/12 00:30</string>
                <key>orders</key>
                <dict>
                    <key>AWH</key>
                    <string>3.700</string>
                    <key>AWH_Select</key>
                    <false/>
                    <key>AH</key>
                    <string>3.400</string>
                    <key>AH_Select</key>
                    <false/>
                    <key>AWV</key>
                    <string>1.800</string>
                    <key>AWV_Select</key>
                    <false/>
                    <key>ACHRatio</key>
                    <string>1/1.5</string>
                    <key>ACH</key>
                    <string>0.980</string>
                    <key>ACH_Select</key>
                    <false/>
                    <key>ACVRatio</key>
                    <string>-</string>
                    <key>ACV</key>
                    <string>0.860</string>
                    <key>ACV_Select</key>
                    <false/>
                    <key>ABHRatio</key>
                    <string>2.5/3</string>
                    <key>ABH</key>
                    <string>0.910</string>
                    <key>ABH_Select</key>
                    <false/>
                    <key>ASVRatio</key>
                    <string>2.5/3</string>
                    <key>ASV</key>
                    <string>0.500</string>
                    <key>ASV_Select</key>
                    <false/>
                    <key>HWH</key>
                    <string>1.900</string>
                    <key>HWH_Select</key>
                    <false/>
                    <key>HH</key>
                    <string>4.400</string>
                    <key>HH_Select</key>
                    <false/>
                    <key>HWV</key>
                    <string>1.800</string>
                    <key>HWV_Select</key>
                    <false/>
                    <key>HCHRatio</key>
                    <string>1/1.5</string>
                    <key>HCH</key>
                    <string>0.880</string>
                    <key>HCH_Select</key>
                    <false/>
                    <key>HCVRatio</key>
                    <string>-</string>
                    <key>HCV</key>
                    <string>0.670</string>
                    <key>HCV_Select</key>
                    <false/>
                    <key>HBHRatio</key>
                    <string>2.5/3</string>
                    <key>HBH</key>
                    <string>1.000</string>
                    <key>HBH_Select</key>
                    <false/>
                    <key>HSVRatio</key>
                    <string>2.5/3</string>
                    <key>HSV</key>
                    <string>0.920</string>
                    <key>HSV_Select</key>
                    <false/>
                </dict>
            </dict>
            <dict>
                <key>home</key>
                <string>巴西</string>
                <key>homeScore</key>
                <string>4</string>
                <key>visiting</key>
                <string>韩国</string>
                <key>visitingScore</key>
                <string>1</string>
                <key>time</key>
                <string>03/12 00:30</string>
                <key>orders</key>
                <dict>
                    <key>AWH</key>
                    <string>3.700</string>
                    <key>AWH_Select</key>
                    <false/>
                    <key>AH</key>
                    <string>3.400</string>
                    <key>AH_Select</key>
                    <false/>
                    <key>AWV</key>
                    <string>1.800</string>
                    <key>AWV_Select</key>
                    <false/>
                    <key>ACHRatio</key>
                    <string>1/1.5</string>
                    <key>ACH</key>
                    <string>0.980</string>
                    <key>ACH_Select</key>
                    <false/>
                    <key>ACVRatio</key>
                    <string>-</string>
                    <key>ACV</key>
                    <string>0.860</string>
                    <key>ACV_Select</key>
                    <false/>
                    <key>ABHRatio</key>
                    <string>2.5/3</string>
                    <key>ABH</key>
                    <string>0.910</string>
                    <key>ABH_Select</key>
                    <false/>
                    <key>ASVRatio</key>
                    <string>2.5/3</string>
                    <key>ASV</key>
                    <string>0.500</string>
                    <key>ASV_Select</key>
                    <false/>
                    <key>HWH</key>
                    <string>1.900</string>
                    <key>HWH_Select</key>
                    <false/>
                    <key>HH</key>
                    <string>4.400</string>
                    <key>HH_Select</key>
                    <false/>
                    <key>HWV</key>
                    <string>1.800</string>
                    <key>HWV_Select</key>
                    <false/>
                    <key>HCHRatio</key>
                    <string>1/1.5</string>
                    <key>HCH</key>
                    <string>0.880</string>
                    <key>HCH_Select</key>
                    <false/>
                    <key>HCVRatio</key>
                    <string>-</string>
                    <key>HCV</key>
                    <string>0.670</string>
                    <key>HCV_Select</key>
                    <false/>
                    <key>HBHRatio</key>
                    <string>2.5/3</string>
                    <key>HBH</key>
                    <string>1.000</string>
                    <key>HBH_Select</key>
                    <false/>
                    <key>HSVRatio</key>
                    <string>2.5/3</string>
                    <key>HSV</key>
                    <string>0.920</string>
                    <key>HSV_Select</key>
                    <false/>
                </dict>
            </dict>
        </array>
    </dict>
	<dict>
		<key>name</key>
		<string>复仇者联盟3</string>
		<key>count</key>
		<string>5</string>
		<key>icon</key>
		<string></string>
		<key>matchs</key>
		<array>
			<dict>
				<key>home</key>
				<string>巴西</string>
				<key>homeScore</key>
				<string>4</string>
				<key>visiting</key>
				<string>韩国</string>
				<key>visitingScore</key>
				<string>1</string>
				<key>time</key>
				<string>03/12 00:30</string>
				<key>orders</key>
				<dict>
					<key>AWH</key>
					<string>3.700</string>
					<key>AWH_Select</key>
					<false/>
					<key>AH</key>
					<string>3.400</string>
					<key>AH_Select</key>
					<false/>
					<key>AWV</key>
					<string>1.800</string>
					<key>AWV_Select</key>
					<false/>
					<key>ACHRatio</key>
					<string>1/1.5</string>
					<key>ACH</key>
					<string>0.980</string>
					<key>ACH_Select</key>
					<false/>
					<key>ACVRatio</key>
					<string>-</string>
					<key>ACV</key>
					<string>0.860</string>
					<key>ACV_Select</key>
					<false/>
					<key>ABHRatio</key>
					<string>2.5/3</string>
					<key>ABH</key>
					<string>0.910</string>
					<key>ABH_Select</key>
					<false/>
					<key>ASVRatio</key>
					<string>2.5/3</string>
					<key>ASV</key>
					<string>0.500</string>
					<key>ASV_Select</key>
					<false/>
					<key>HWH</key>
					<string>1.900</string>
					<key>HWH_Select</key>
					<false/>
					<key>HH</key>
					<string>4.400</string>
					<key>HH_Select</key>
					<false/>
					<key>HWV</key>
					<string>1.800</string>
					<key>HWV_Select</key>
					<false/>
					<key>HCHRatio</key>
					<string>1/1.5</string>
					<key>HCH</key>
					<string>0.880</string>
					<key>HCH_Select</key>
					<false/>
					<key>HCVRatio</key>
					<string>-</string>
					<key>HCV</key>
					<string>0.670</string>
					<key>HCV_Select</key>
					<false/>
					<key>HBHRatio</key>
					<string>2.5/3</string>
					<key>HBH</key>
					<string>1.000</string>
					<key>HBH_Select</key>
					<false/>
					<key>HSVRatio</key>
					<string>2.5/3</string>
					<key>HSV</key>
					<string>0.920</string>
					<key>HSV_Select</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>home</key>
				<string>巴西</string>
				<key>homeScore</key>
				<string>4</string>
				<key>visiting</key>
				<string>韩国</string>
				<key>visitingScore</key>
				<string>1</string>
				<key>time</key>
				<string>03/12 00:30</string>
				<key>orders</key>
				<dict>
					<key>AWH</key>
					<string>3.700</string>
					<key>AWH_Select</key>
					<false/>
					<key>AH</key>
					<string>3.400</string>
					<key>AH_Select</key>
					<false/>
					<key>AWV</key>
					<string>1.800</string>
					<key>AWV_Select</key>
					<false/>
					<key>ACHRatio</key>
					<string>1/1.5</string>
					<key>ACH</key>
					<string>0.980</string>
					<key>ACH_Select</key>
					<false/>
					<key>ACVRatio</key>
					<string>-</string>
					<key>ACV</key>
					<string>0.860</string>
					<key>ACV_Select</key>
					<false/>
					<key>ABHRatio</key>
					<string>2.5/3</string>
					<key>ABH</key>
					<string>0.910</string>
					<key>ABH_Select</key>
					<false/>
					<key>ASVRatio</key>
					<string>2.5/3</string>
					<key>ASV</key>
					<string>0.500</string>
					<key>ASV_Select</key>
					<false/>
					<key>HWH</key>
					<string>1.900</string>
					<key>HWH_Select</key>
					<false/>
					<key>HH</key>
					<string>4.400</string>
					<key>HH_Select</key>
					<false/>
					<key>HWV</key>
					<string>1.800</string>
					<key>HWV_Select</key>
					<false/>
					<key>HCHRatio</key>
					<string>1/1.5</string>
					<key>HCH</key>
					<string>0.880</string>
					<key>HCH_Select</key>
					<false/>
					<key>HCVRatio</key>
					<string>-</string>
					<key>HCV</key>
					<string>0.670</string>
					<key>HCV_Select</key>
					<false/>
					<key>HBHRatio</key>
					<string>2.5/3</string>
					<key>HBH</key>
					<string>1.000</string>
					<key>HBH_Select</key>
					<false/>
					<key>HSVRatio</key>
					<string>2.5/3</string>
					<key>HSV</key>
					<string>0.920</string>
					<key>HSV_Select</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>home</key>
				<string>巴西</string>
				<key>homeScore</key>
				<string>4</string>
				<key>visiting</key>
				<string>韩国</string>
				<key>visitingScore</key>
				<string>1</string>
				<key>time</key>
				<string>03/12 00:30</string>
				<key>orders</key>
				<dict>
					<key>AWH</key>
					<string>3.700</string>
					<key>AWH_Select</key>
					<false/>
					<key>AH</key>
					<string>3.400</string>
					<key>AH_Select</key>
					<false/>
					<key>AWV</key>
					<string>1.800</string>
					<key>AWV_Select</key>
					<false/>
					<key>ACHRatio</key>
					<string>1/1.5</string>
					<key>ACH</key>
					<string>0.980</string>
					<key>ACH_Select</key>
					<false/>
					<key>ACVRatio</key>
					<string>-</string>
					<key>ACV</key>
					<string>0.860</string>
					<key>ACV_Select</key>
					<false/>
					<key>ABHRatio</key>
					<string>2.5/3</string>
					<key>ABH</key>
					<string>0.910</string>
					<key>ABH_Select</key>
					<false/>
					<key>ASVRatio</key>
					<string>2.5/3</string>
					<key>ASV</key>
					<string>0.500</string>
					<key>ASV_Select</key>
					<false/>
					<key>HWH</key>
					<string>1.900</string>
					<key>HWH_Select</key>
					<false/>
					<key>HH</key>
					<string>4.400</string>
					<key>HH_Select</key>
					<false/>
					<key>HWV</key>
					<string>1.800</string>
					<key>HWV_Select</key>
					<false/>
					<key>HCHRatio</key>
					<string>1/1.5</string>
					<key>HCH</key>
					<string>0.880</string>
					<key>HCH_Select</key>
					<false/>
					<key>HCVRatio</key>
					<string>-</string>
					<key>HCV</key>
					<string>0.670</string>
					<key>HCV_Select</key>
					<false/>
					<key>HBHRatio</key>
					<string>2.5/3</string>
					<key>HBH</key>
					<string>1.000</string>
					<key>HBH_Select</key>
					<false/>
					<key>HSVRatio</key>
					<string>2.5/3</string>
					<key>HSV</key>
					<string>0.920</string>
					<key>HSV_Select</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>home</key>
				<string>巴西</string>
				<key>homeScore</key>
				<string>4</string>
				<key>visiting</key>
				<string>韩国</string>
				<key>visitingScore</key>
				<string>1</string>
				<key>time</key>
				<string>03/12 00:30</string>
				<key>orders</key>
				<dict>
					<key>AWH</key>
					<string>3.700</string>
					<key>AWH_Select</key>
					<false/>
					<key>AH</key>
					<string>3.400</string>
					<key>AH_Select</key>
					<false/>
					<key>AWV</key>
					<string>1.800</string>
					<key>AWV_Select</key>
					<false/>
					<key>ACHRatio</key>
					<string>1/1.5</string>
					<key>ACH</key>
					<string>0.980</string>
					<key>ACH_Select</key>
					<false/>
					<key>ACVRatio</key>
					<string>-</string>
					<key>ACV</key>
					<string>0.860</string>
					<key>ACV_Select</key>
					<false/>
					<key>ABHRatio</key>
					<string>2.5/3</string>
					<key>ABH</key>
					<string>0.910</string>
					<key>ABH_Select</key>
					<false/>
					<key>ASVRatio</key>
					<string>2.5/3</string>
					<key>ASV</key>
					<string>0.500</string>
					<key>ASV_Select</key>
					<false/>
					<key>HWH</key>
					<string>1.900</string>
					<key>HWH_Select</key>
					<false/>
					<key>HH</key>
					<string>4.400</string>
					<key>HH_Select</key>
					<false/>
					<key>HWV</key>
					<string>1.800</string>
					<key>HWV_Select</key>
					<false/>
					<key>HCHRatio</key>
					<string>1/1.5</string>
					<key>HCH</key>
					<string>0.880</string>
					<key>HCH_Select</key>
					<false/>
					<key>HCVRatio</key>
					<string>-</string>
					<key>HCV</key>
					<string>0.670</string>
					<key>HCV_Select</key>
					<false/>
					<key>HBHRatio</key>
					<string>2.5/3</string>
					<key>HBH</key>
					<string>1.000</string>
					<key>HBH_Select</key>
					<false/>
					<key>HSVRatio</key>
					<string>2.5/3</string>
					<key>HSV</key>
					<string>0.920</string>
					<key>HSV_Select</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>home</key>
				<string>巴西</string>
				<key>homeScore</key>
				<string>4</string>
				<key>visiting</key>
				<string>韩国</string>
				<key>visitingScore</key>
				<string>1</string>
				<key>time</key>
				<string>03/12 00:30</string>
				<key>orders</key>
				<dict>
					<key>AWH</key>
					<string>3.700</string>
					<key>AWH_Select</key>
					<false/>
					<key>AH</key>
					<string>3.400</string>
					<key>AH_Select</key>
					<false/>
					<key>AWV</key>
					<string>1.800</string>
					<key>AWV_Select</key>
					<false/>
					<key>ACHRatio</key>
					<string>1/1.5</string>
					<key>ACH</key>
					<string>0.980</string>
					<key>ACH_Select</key>
					<false/>
					<key>ACVRatio</key>
					<string>-</string>
					<key>ACV</key>
					<string>0.860</string>
					<key>ACV_Select</key>
					<false/>
					<key>ABHRatio</key>
					<string>2.5/3</string>
					<key>ABH</key>
					<string>0.910</string>
					<key>ABH_Select</key>
					<false/>
					<key>ASVRatio</key>
					<string>2.5/3</string>
					<key>ASV</key>
					<string>0.500</string>
					<key>ASV_Select</key>
					<false/>
					<key>HWH</key>
					<string>1.900</string>
					<key>HWH_Select</key>
					<false/>
					<key>HH</key>
					<string>4.400</string>
					<key>HH_Select</key>
					<false/>
					<key>HWV</key>
					<string>1.800</string>
					<key>HWV_Select</key>
					<false/>
					<key>HCHRatio</key>
					<string>1/1.5</string>
					<key>HCH</key>
					<string>0.880</string>
					<key>HCH_Select</key>
					<false/>
					<key>HCVRatio</key>
					<string>-</string>
					<key>HCV</key>
					<string>0.670</string>
					<key>HCV_Select</key>
					<false/>
					<key>HBHRatio</key>
					<string>2.5/3</string>
					<key>HBH</key>
					<string>1.000</string>
					<key>HBH_Select</key>
					<false/>
					<key>HSVRatio</key>
					<string>2.5/3</string>
					<key>HSV</key>
					<string>0.920</string>
					<key>HSV_Select</key>
					<false/>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
